* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #1c1e30;
}
#head {
  color: white;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  padding: 40px 0px;
}
#head #title {
  font-size: 30px;
  font-weight: bolder;
}
.card {
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  min-height: 500px;
  background-color: #1c1e30;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 23px -1px rgb(7, 8, 10);
  -moz-box-shadow: 0px 0px 23px -1px rgb(7, 8, 10);
  box-shadow: 0px 0px 23px -1px rgb(7, 8, 10);
}
.card label {
  display: block;
  color: white;
  padding-top: 20px;
}
.card input {
  border: none;
  border-bottom: 1px solid orange;
  background-color: transparent;
  padding: 15px 15px 15px 0;
  font-size: 15px;
  outline: none;
  color: white;
  width: 100%;
}
.addBtn {
  height: 40px;
  width: 40px;
  background-color: white;
  color: #1c1e30;
  border-radius: 60px;
  text-align: center;
  line-height: 40px;
}
.stateHolder {
  padding: 0 20px 0 0;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}
.stateHolder a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}
.saveButton {
  padding: 20px;
  background-color: orange;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 20px 0px;
}
#listCase {
  padding-left: 20px;
}
#listCase li {
  color: orange;
  padding-top: 10px;
}
